.card{
  margin-bottom: 1rem;
  color: #eeeeee;
}

.card, .card-header{
  border: none !important;
  border-radius: 0 !important;
}

.card-body{
  border: none !important;
}

.card img{
  height: 12rem;
  background-color: #fe6845;
}

.card h5{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.card-img-overlay{
  overflow: hidden;
  background: linear-gradient(
                     rgba(20,20,20, .5), 
                     rgba(20,20,20, .5));
}

.card-body a{
  background-color: red;
}

.card-body a:hover{
  color: #eeeeee !important;
}

.bg-color{
  background-color: #00909e;
}

@media (min-width: 320px) {
  .card h5{
    font-size: smaller !important;
  }
  .card img{
    height: 8rem !important;
  }
}

@media (min-width: 768px) {
  .card h5{
    font-size: larger !important;
  }
  .card img{
    height: 16rem !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .card h5{
    font-size: larger !important;
  }
  .card img{
    height: 16rem !important;
  }
}
/* 4K Screens */
@media (min-width: 2160px) {
  .card h5{
    font-size: larger !important;
  }
  .card img{
    height: 18rem !important;
  }
}