.card{
  margin-bottom: 1rem;
  color: #eeeeee;
}

.card, .card-header{
  border: none !important;
  border-radius: 0 !important;
}

.card-body{
  border: none !important;
}

.card img{
  height: 8rem;
  background-color: #93b5b3;
}

.card h5{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.card-img-overlay{
  overflow: hidden;
  background: linear-gradient(
                     rgba(20,20,20, .5), 
                     rgba(20,20,20, .5));
}

.card-body a{
  background-color: red;
}

.card-body a:hover{
  color: #eeeeee !important;
}

.bg-color{
  background-color: #00909e;
}