.modal h5, .modal label{
  color: #132238;
  font-weight: bold;
}

.modal-footer button{
  background-color: #132238;
  border-color: #132238;
  color: #ebf0f6;
}

.modal-footer button:hover{
  background-color: #132238;
  border-color: #132238;
}

input[type=text], textarea{
  width: 100%;
}

body.modal-open {
  overflow: auto;
}
body.modal-open[style] {
  padding-right: 0px !important;
}