body{
  background: linear-gradient(
    rgba(20,20,20, .7), 
    rgba(20,20,20, .7)),
    url("https://images.pexels.com/photos/131979/pexels-photo-131979.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat center center fixed;
  background-size: cover;
}

h1{
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #f2f6f5;
  font-style: italic;
}

input{
  margin-top: 3rem;
  margin-bottom: 2rem;
  width: 70%;
}

.item{
  margin: 1rem 0;
  padding: .7rem;
  font-size: 2rem;
  background-color: #f2f6f5;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
}

.text{
  float: left;
  text-align: left;
  width: 90%;
}

.item i{
  color: red;
}

.x{
  width: 10%;
  float: right;
}

.x i{
  cursor: pointer;
}

.list{
  width: 60%;
  margin: 0 auto;
}

button{
  border-radius: 2px;
}

#btn{
  background-color: #1fab89;
  border: 1px solid #1fab89;
  color: #c8dad3;
}

#clearBtn{
  background-color: #f2f6f5;
  border: 1px solid #f2f6f5;
  color: #1fab89;
  padding: 5px;
  font-size: 1.2rem;
}

#clearBtn:hover{
  background-color: #af0404;
  border: 1px solid #af0404;
  color: white;
}

hr{
  width: 15rem;
  border: .5px solid #1fab89;
  margin-bottom: 4rem;
}