.modal h5, .modal label{
  color: #1b2a49;
  font-weight: bold;
}

.modal-footer button{
  background-color: #1b2a49;
  border-color: #1b2a49;
  color: white;
}

.modal-footer button:hover{
  background-color: #a8ccd7;
  border-color: #a8ccd7;
  color: #1b2a49;
}

input[type=text], textarea{
  width: 100%;
}

body.modal-open {
  overflow: auto;
}
body.modal-open[style] {
  padding-right: 0px !important;
}